.icn__xs {
  font-size: 1rem;
}

.icn__sm {
  font-size: 1.5rem
}

.icn__md {
  font-size: 2rem;
}

.icn__lg {
  font-size: 2.5rem;
}

.icn__xl {
  font-size: 3rem;
}

.icn__xxl {
  font-size: 4rem;
}
