////////////
// colors //
////////////
$color-catskill-white: #e1e8f0; // gray
$red-material: #F44336;
$red-secondary: #FF1744;
$blue-material: #03a9f4;
$primary-indigo: #3F51B5;
$gray-base: #616161;
$blue-gray: #263238;
$gray: gray;

////////////
// fonts  //
////////////
$font-family-title: 'Oswald', sans-serif;
$font-family-base: 'Lato', sans-serif;

/////////////////
// fonts-size  //
/////////////////
$font-size-icon: 3.5rem;

///////////////////
// Break points  //
///////////////////
$screen-sm-min: 850px;
$screen-md-min: 1024px;
$screen-lg-min: 1281px;

///////////////////
//    Images     //
///////////////////
// $directory-image: 'https://s3.eu-west-2.amazonaws.com/';

///////////////////
// border-radius //
///////////////////
$border-radius-xs: 2px;
$border-radius-base: 4px;

///////////////////
//   z-index     //
///////////////////
// $z-index-tapbar: 50;

///////////////////
//  Grid-layout  //
///////////////////
$max-width-container: $screen-lg-min;
$number-columns: 12;
$percentPerColumn : 100/$number-columns;
