.body {
  @include font-size(0.9rem);
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: $font-family-title;
  font-weight: 400;
  text-overflow: ellipsis;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

h1, .h1 {
  @include font-size(2.1rem);
  @include medium {
    @include font-size(2.3rem);
  }
  @include large {
    @include font-size(2.7rem);
  }
}

h2, .h2 {
  @include font-size(1.9rem);
  @include medium {
    @include font-size(2rem);
  }
  @include large {
    @include font-size(2.1rem);
  }
}

h3, .h3 {
  @include font-size(1.7rem);
  @include medium {
    @include font-size(1.8rem);
  }
  @include large {
    @include font-size(2rem);
  }
}

h4, .h4 {
  @include font-size(1.4rem);
  @include medium {
    @include font-size(1.5rem);
  }
  @include large {
    @include font-size(1.7rem);
  }
}

h5, .h5 {
  @include font-size(1.2rem);
  @include medium {
    @include font-size(1.4rem);
  }
  @include large {
    @include font-size(1.5rem);
  }
}

p, .p {
  @include font-size(1rem);
  font-family: $font-family-base;
  font-weight: normal;
  @include medium {
    @include font-size(1.1rem);
  }
  @include large {
    @include font-size(1.2rem);
  }
}

a, a:visited {
  display: inline-block;
  color: $gray-base;
  font-family: $font-family-base;
  font-weight: 700;
  &:hover,
  &:active {
    // color: darken($gray-base, 20);
  }

}

.text--bold {
  font-weight: 700;
}

.text--center {
  text-align: center;
}

.paragraph + .paragraph {
  margin: 1rem 0 0 0;
  @include medium {
    margin: 1.25rem 0 0 0;
  }
}

.text--white {
  color: white
}

.text--primary {
  color: blue
}

.text--danger {
  color: red
}

.text--base {
  color: $gray-base
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}
